<h1>tarimavirtual</h1>

<% if user_signed_in? %>

<%= link_to 'Salir', destroy_user_session_path, method: 'DELETE' %>

<% else %>
<%= link_to 'Entrar', new_user_session_path %>
<%= link_to 'Registrarse', new_user_registration_path %>
<% end %>