 <nav class="px-5 navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>"><span class="title">tarima<b>virtual</b></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        
    </ul>
    <span class="navbar-text">
        <% if user_signed_in? %>
        <%= link_to current_user.email, user_shows_path(current_user) %>
        <%= link_to 'Salir', destroy_user_session_path, method: 'DELETE', class:'pl-2' %>
        <% else %>
        <%= link_to 'Entrar', pages_select_path, class:'btn btn-secondary' %>
        <% end %>
    </span>
    </div>
</nav>